{% load static %}

<!--Latest version JQuery-->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!--Bootstrap js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--Easing js-->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!--Mixing js-->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!--Qwl Carousel js-->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!--Validator js-->
<script src="{% static 'js/validator.js' %}"></script>

<!--Contact js-->
<script src="{% static 'js/contact.js' %}"></script>

<!--Bootstrap js-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Theme js-->
<script src="{% static 'js/main.js' %}"></script>